@media screen and (max-width=767px) {
}

@media screen and (min-width=768px) and (max-width=1157px) {
}

@media screen and (min-width=1158px) {
  .head {
    gap: 40px;
    display: flex;
  }
  .addss {
    font-style: normal;
    margin-left: auto;
  }
  .list {
    list-style: none;
    gap: 40px;
    display: flex;
  }
}
